@import "tailwindcss";

@layer components {
  .container {
    @apply mx-auto max-w-[1600px] px-4 py-[80px];
  }
}

@layer base {
  h1 {
    @apply text-[40px] font-bold;
  }
  button {
    @apply cursor-pointer;
  }
}